.jekyll/
vendor/
.DS_Store
node_modules

_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


### Logs and Databases ###
*.log
*.sql
*.sqlite
Gemfile.lock
